{% extends 'base.html.twig' %}

{% block title %}Mois index{% endblock %}

{% block body %}
    <h1>Mois index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for moi in mois %}
            <tr>
                <td>{{ moi.id }}</td>
                <td>{{ moi.title }}</td>
                <td>
                    <a href="{{ path('app_mois_show', {'id': moi.id}) }}">show</a>
                    <a href="{{ path('app_mois_edit', {'id': moi.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_mois_new') }}">Create new</a>
{% endblock %}
