<!DOCTYPE html>
<html lang="fr">
<head>
    {% include('includes/meta.html.twig') %}
    <title>{% block title %}Welcome!{% endblock %}</title>

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

    {% include('includes/link.html.twig') %}

</head>
<body class="row">
<header class="col-12 container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-end">
        <a href="{{ path("app_home") }}" class="navbar-brand">LOGO</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('app_logout') }}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<nav class="nav flex-column col-2 bg-dark text-center">
    <a class="nav-link" href="#">ajout mois</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
</nav>

<main class="col-10">
    {% block body %}{% endblock %}
</main>

<footer class="col-12 bg-dark">

</footer>

</body>
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    {#        {{ encore_entry_script_tags('app') }} #}

<!-- before the closing <body> tag -->
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>

<script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
{% block js %}{% endblock %}
{% endblock %}
</html>
