<!DOCTYPE html>
<html lang="fr">
<head>
    {% include('includes/meta.html.twig') %}
    <title>{% block title %}Welcome!{% endblock %}</title>

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

    {% include('includes/link.html.twig') %}

</head>
<body class="row">
<header class="col-12 container-fluid topbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-end">
        <a href="{{ path("app_home") }}" class="navbar-brand">LOGO</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('app_logout') }}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<aside class="col-2 left-sidebar h-100 flex-column  text-center  ">
<nav class="navbar navbar-expand-lg bg-dark ">
    <ul>
        <li><a href="#">Mois</a>
            <ul>
                <li><a class="nav-link dropdown-item" href="{{ path('app_mois_index') }}">liste Mois</a></li>
                <li><a class="nav-link dropdown-item" href="{{ path('app_mois_new') }}">ajout Mois</a></li>
            </ul>
        </li>
        <li><a href="#">Debit</a>
            <ul>
                <li> <a class="nav-link dropdown-item" href="{{ path('app_debit_index') }}">liste Debit</a></li>
                <li> <a class="nav-link dropdown-item" href="{{ path('app_debit_new') }}">ajout Debit</a></li>
            </ul>
        </li>
        <li><a  href="#">Credit</a>
            <ul>
                <li><a class="nav-link dropdown-item" href="{{ path('app_credit_index') }}">liste Credit</a></li>
                <li><a class="nav-link dropdown-item" href="{{ path('app_credit_new') }}">ajout Credit</a></li>
            </ul>
        </li>
        <li><a href="#">Categories</a>
            <ul>
                <li> <a class="nav-link dropdown-item" href="{{ path('app_categories_index') }}">liste Categories</a></li>
                <li> <a class="nav-link dropdown-item" href="{{ path('app_categories_new') }}">ajout Categories</a></li>

            </ul>
        </li>
    </ul>
</nav>
</aside>
<main class="page-wrapper col-10">
    {% block body %}{% endblock %}
</main>

<footer class="col-12 bg-dark">

</footer>

</body>
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    {#        {{ encore_entry_script_tags('app') }} #}

<!-- before the closing <body> tag -->
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>

<script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
{% block js %}{% endblock %}
{% endblock %}
</html>
